.App {
  font-family: sans-serif;
  text-align: center;
}

.task-wrapper {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.list-item {
  color: red;
}

.completed {
  color: purple;
}
